.li-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b7abe6;
  border-radius: 15px;
  padding: 2%;
  border: 1px solid #ffffff30;
  margin: 2px;
}
@media screen and (min-width: 769px) {
  .li-container {
    padding: 2%;
    margin: 3%;
  }
  .emoji {
    width: 9em;
    height: 9em;
  }
}
.li-container:hover {
  background-color: transparent;
  transition: all 0.4s ease;
}
.emoji {
  width: 90px;
  height: 90px;
}
.li-btn {
  padding: 1%;
  background-color: transparent;
  border: none;
}
