/* Write your code here. */
.nav-bar {
  flex-grow: 1;
  display: flex;
  color: white;
  padding: 2%;
  width: 100%;
  align-items: center;
  max-height: max-content;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: linear-gradient(to right, #d8e9ff24, #fbc7d4);
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  font-size: 0.8em;
  min-width: fit-content;
  margin-right: auto;
  font-weight: 700;
  margin: 3%;
}
.nav-icon {
  height: 25px;
  width: 25px;
  margin: 2px;
}
.nav-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1rem;
}
.heading {
  display: flex;
  align-items: center;
  margin-right: auto;
}
